<% @title = '記事一覧' %>
<%= link_to  "追加", :new_admin_article, class: 'btn btn-dark' %>
<div class="article_area">
  <h1><%= @title %></h1>
  <div class="article_wrap">
    <% @articles.each do |article| %>
      <div class='article_card'>
        <div class="article_image">
          <% unless article.thumbnail.url.nil?  %>
            <%= image_tag(article.thumbnail.url) %>
          <% end %>
        </div>
        
        <h4><%= link_to article.title, [:admin, article] %></h4>
        <div class="publish_wrap">
          <i class="far fa-clock"></i>
          <%= article.published_at.strftime("%Y/%m/%d") %>
          <%= content_tag(:span, '未公開', class: 'unpublish-tag') if article.unpublished? %>
        </div>
        <div class="actions">
          <%= link_to  "編集", [:edit, :admin, article] %>
          <%= link_to  "削除", [:admin, article], method: :delete,
          data: { confirm: '本当に削除しますか？' } %>
        </div>
        <div class="tags-wrap">
          <% article.tags.each do |tag| %>
            <span class="tag">
              <%= link_to  "#{tag.name}", admin_articles_path(tag: tag.id) %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to  "追加", :new_admin_article, class: 'btn btn-dark' %>
