<div class="form_wrapper">
<% @title = '記事投稿' %>
  <div class="form">
    <h1><%= @title %></h1>
    <%= form_with model: @article, url: :admin_articles do |f| %>
    <%= render 'form', f: f, a: @article %>
    <div class="buttons">
      <%= f.submit '投稿' %>
      <%= link_to  "キャンセル", :admin_articles %>
    </div>
    <% end %>
  </div>
</div>