<div class="wrap">
  <%= link_to  "追加", :new_admin_portfolio, class: 'btn btn-dark' %>
  <div class="portfolio-wrap">
  <%= paginate @portfolios %>
  <% @portfolios.each do |p| %>
      <div class="portfolio-card">
        <div class="portfolio-image">
          <%= image_tag(p.image.url) %>
        </div>
        <div class="portfolio-info">
          <h4><%= p.name %></h4>
          <p><span>詳細：</span><%= p.detail %></p>
          <div class="link">
            リンク：<%= link_to  "#{p.link}", p.link %>
          </div>
          <br>
          <%= link_to  "編集", [:edit, :admin, p] %>
          <%= link_to  "削除", [:admin, p], method: :delete,
          data: { confirm: '本当に削除してもよろしいですか？' } %>
        </div>      
      </div>
    <% end %>
    <%= paginate @portfolios %>
  </div>
  <%= link_to  "追加", :new_admin_portfolio, class: 'btn btn-dark' %>
</div>