<header class='navbar navbar-expand-lg header'>
  <div class="logo-mark"><%= link_to  "Blog", :admin_root %></div>
  <div class="link_wrapper">
    <%if current_admin %>
      <div class="link">
        <%= link_to 'Logout', :admin_session, method: :delete %>
        <br>
        <span>ログアウト</span>
      </div>
      <div class="link">
        <%= link_to 'Portfolio', :admin_portfolios %>
        <br>
        <span>ポートフォリオ</span>
      </div>
      <div class="link">
        <%= link_to  "Article", :admin_articles %>
        <br>
        <span>記事</span>
      </div>
      <div class="link">
        <%= link_to  "User", [:edit, :admin, current_admin] %>
        <br>
        <span>ユーザー情報編集</span>
      </div>
    <%else%>
      <div class="link">
        <%= link_to 'Login', :admin_login %>
        <br>
        <span>ログイン</span>
      </div>
    <%end%>
  </div>
</header>
